body {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: #262626;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
   

    .container {
      display: grid;
      grid-template-columns: repeat(2, 100px);
      gap: 10px;
      justify-content: center;
    }

    .grid1 {
      background-color: #ff0000f4;
      text-align: center;
      font-weight: bold;
      color: white;
      padding: 40px 0;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .grid2 {
      background-color: #7b0000;
      text-align: center;
      font-weight: bold;
      color: white;
      padding: 40px 0;
      
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .grid3 {
      background-color: #410000;
      text-align: center;
      font-weight: bold;
      color: white;
      padding: 40px 0;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .grid4 {
      background-color: #110000;
      text-align: center;
      font-weight: bold;
      color: white;
      padding: 40px 0;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }